﻿@model Musical_Instrument_Store.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5">

                    <h2 class="text-center mb-5">Register</h2>
                    <form method="post">
                        <div class="form-group md-4 mb-2">
                            <label asp-for="Name">Name: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group md-4 mb-2">
                            <label asp-for="Surname">Surname: </label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>

                        <div class="form-group md-4 mb-2">
                            <label asp-for="Address">Address: </label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group md-4 mb-2">
                            <label asp-for="PhoneNumber">Phone Number: </label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group md-4 mb-2">
                            <label asp-for="Email">Email: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="form-group md-4 mb-2">
                            <label asp-for="Password">Password: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group md-4 mb-2">
                            <label asp-for="ConfirmPassword">Confirm Password: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="submit">Register</button>
                        </div>


                        <hr class="mb-4">
                        <div>
                            <p class="mb-0">Have an account? <a class="text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="color:darkgrey"> Login</a></p>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>