﻿@model IEnumerable<MICategory>;

@{
    ViewData["Title"] = "Список архівованих категорій";
}


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <h2 class="h4 text-center">Список архівованих категорій</h2>

                    <table class="table">
                        @if (Model.Count() != 0)
                        {
                            @foreach (var el in Model)
                            {

                                <tr>
                                    <td>@el.categoryName</td>
                                    <td>
                                        <div class="row">


                                            <form method="post" asp-controller="MICategory" asp-action="UnZipCategory" asp-route-id="@el.Id">
                                                <button type="submit" class="btn btn-secondary btn-icon">
                                                    <i class="mdi mdi-archive"></i> Розархівувати
                                                </button>

                                            </form>
                                        </div>


                                    </td>
                                </tr>


                            }
                        }
                        else
                        {
                            <i>Архівовані категорії відсутні</i>
                        }
                    </table>




                </div>
            </div>
        </div>
    </div>
</div>