﻿@using Microsoft.AspNetCore.Identity
@model Musical_Instrument_Store.ViewModels.ChangeRolesViewModel


@{
    ViewData["Title"] = "Ролі користувача";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <h2 class="h4 text-center">Ролі користувача @Model.UserEmail</h2>
                    <form asp-action="Edit" method="post">
                        <input type="hidden" name="userId" value="@Model.UserId" />
                        <div class="form-group">
                            @foreach (IdentityRole role in Model.AllRoles)
                            {
                                <input class="mb-3" type="checkbox" name="roles" value="@role.Name"
                                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") /> @role.Name <br />
                                }
                        </div>
                        <button type="submit" class="btn btn-dark"><i class="mdi mdi-pencil"></i>Зберегти</button>
                        <a class="btn btn-light" href="/Roles/UserList"><i class="mdi mdi-pencil-remove"></i> Скасувати</a>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>

