﻿@model MusicalInstrumentListViewModel


@{
    ViewData["Title"] = "Архів товарів";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<h2 class="text-center" style="text-shadow: 2px 2px 8px #676767;">Архів товарів</h2>


<div class="container mt-4">
    <div class="row justify-content-center">


        @{
            if (Model.ListMusicalInstruments.Count() != 0)
            {
                foreach (var musicalinstrument in Model.ListMusicalInstruments)
                {


                    <div class="col-md-5 d-flex align-items-stretch">
                        <div class="card mb-4 box-shadow shadow-lg">
                            <p class="card-header"><b>Назва: </b> @musicalinstrument.nameMI</p>
                            <div class="card-img-wrap">
                                <img class="card-img-top" src="@musicalinstrument.img" alt="Photo" style="width: 100%; height: 20vw; object-fit: cover;" />
                            </div>

                            <div class="card-body">
                                <div class="card-text">
                                    <p class="card-text"><b>Опис: </b> @musicalinstrument.descMI</p>
                                    <p><b>Кількість: </b>@musicalinstrument.quantity</p>
                                    <p><b>Ціна: </b> @musicalinstrument.price.ToString("c")</p>
                                </div>
                            </div>
                            <div class="card-footer">

                                <form method="post" asp-controller="MusicalInstrument" asp-action="UnZip" asp-route-miId="@musicalinstrument.Id">
                                    <button type="submit" class="btn btn-secondary btn-icon">
                                        <i class="mdi mdi-archive"></i> Розархівувати
                                    </button>

                                </form>
                            </div>
                        </div>

                    </div>



                }
            }
            else
            {
                <i>Архівовані товари відсутні...</i>
            }
        }
    </div>

</div>
