﻿@model MusicalInstrumentViewModel;

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error !</strong> @TempData["AlertMessage"]
    </div>
}


@{
    ViewData["Title"] = "Змінити зображення";
}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <h2 class="h4 text-center">Змінити зображення</h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-action="EditImage" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-3">
                            <label asp-for="img">Зображення</label>
                            <div>
                                <input type="file" name="uploadedImage" class="form-control" />
                                <span asp-validation-for="img"></span>
                            </div>
                        </div>
                        <button class="btn btn-secondary mr-2" type="submit"><i class="mdi mdi-pencil-box"></i>Зберегти</button>
                        <a class="btn btn-light" href="/MusicalInstrument/Index"><i class="mdi mdi-pencil-remove"></i>Скасувати</a>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>