﻿@model Musical_Instrument_Store.ViewModels.MusicalInstrumentViewModel

@{
    ViewData["Title"] = "Редагування товару";
}


<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Редагувати інструмент @Model.nameMI</h5>
            <form method="post" class="form-sample" asp-controller="MusicalInstrument" asp-action="Edit">
                @Html.HiddenFor(x => x.Id)
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="@Model.nameMI"></label>
                    <input type="text" asp-for="nameMI" id="nameMI" class="form-control form-control-sm">
                </div>

                <div class="form-group">
                    <label asp-for="descMI">Опис</label>
                    <div>
                        <input asp-for="descMI" type="text" class="form-control" />
                        <span asp-validation-for="descMI"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="quantity">Кількість</label>
                    <div>
                        <input asp-for="quantity" type="number" class="form-control" />
                        <span asp-validation-for="quantity"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="price">Ціна</label>
                    <div>
                        <input asp-for="price" type="number" class="form-control" />
                        <span asp-validation-for="price"></span>
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label asp-for="categoryId">Категорія</label>
                    <div>
                        @Html.DropDownListFor(x => Model.categoryId, new SelectList(Model.categories, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm text-dark" })
                        <span asp-validation-for="categoryId"></span>
                    </div>
                </div>
                
                <button class="btn btn-secondary mr-2" type="submit"><i class="mdi mdi-pencil"></i>Зберегти</button>
                <a class="btn btn-light" href="/MusicalInstrument/Index"><i class="mdi mdi-pencil-remove"></i>Скасувати</a>
            </form>
        </div>
    </div>
</div>

