﻿@model CartViewModel

@{
    ViewData["Title"] = "Корзина";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}


<div class="container">
    @if (Model.cartViewModel.cartLines.Count() == 0)
    {
        <h2 class="text-center">Відсутні товари в корзині</h2>
    }
    else
    {
        uint totalsum = 0;
        <div class="container-fluid">
            <div class="row">
                @foreach (var el in Model.cartViewModel.cartLines)
                {
                    <div class="col-sm-3 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <strong>Id: </strong> @el.musicalInstrument.Id
                            </div>
                            <div class="card-body border-1 shadow p-3 m-3 col-md-auto">
                                <div class="mb-3 mr-3">
                                    <div> <strong>Товар: </strong> <p>@el.musicalInstrument.nameMI</p></div>
                                    <div><strong>Ціна: </strong><p>@el.musicalInstrument.price.ToString("c")</p></div>
                                    @{totalsum += @el.musicalInstrument.price;}
                                    <div>
                                        <form method="post" asp-action="DeleteCartLine" asp-route-cartlineId="@el.Id" onclick="@totalsum-=@el.musicalInstrument.price">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-sm btn-danger form-control">
                                                <i class="mdi mdi-close-circle"></i> Видалити з корзини
                                            </button>


                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalCenterTitle">Підтвердження видалення</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Дійсно видалити з корзини?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="mdi mdi-close-circle-outline"></i>Скасувати</button>
                                                            <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete"></i> Видалити з корзини</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                }

            </div>
            <form class="row g-2 d-inline">
                <div class="col-auto">
                    <h2 class="h3">Total: @totalsum</h2>
                </div>
                <div class="col-auto">
                    <button class="h3 btn btn-lg btn-dark" asp-controller="Order" asp-action="Index"><i class="mdi mdi-shopping"></i> Оплатити</button>
                </div>
            </form>
        </div>

    }

</div>
